body {
    margin: 0px 5em;
    background-color: rgb(13, 97, 97);
    color: rgb(255, 199, 96);
    font-family: Arial, Helvetica, sans-serif;
}

header ul {
    background-color: orange;
}

header li {
    display: inline;
    padding: 0px 1rem;
}

img, iframe {
    margin: 1rem;
}

aside {
    float: right;
}