* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border-radius: 5px;
    padding: 10px;
    border: 2px #167f92 solid;
    margin: 10px 10px;
}

form {
    width: 40%;
    transition: width 100ms;
    margin: 0 auto;
}

input[type='text'], input[type='email'] {
    width: 100%;
}

textarea {
    width: 100%;
}

@media (min-width: 0) {
    form {
        width: 100%;
    }
}

@media (min-width: 400px) {
    fieldset {
        border-radius: 5px;
    }
}

@media (min-width: 500px) {
    form {
        width: 60%;
    }
}
@media (min-width: 700px) {
    form {
        width: 40%;
    }
}